<h1 class="display-4">Employees</h1>
<a href="/employee/add">Add</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Employee Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% employees.forEach(function(employee){ %>
            <tr>
                <td><%= employee.id %></td>
                <td><%= employee.employeename %></td>
                <td>
                <ul>
                <% employee.roles.forEach(function(role){ %>
                <li><%= role.name %></li>
                <% }) %>
                </ul>
                </td>
                <td>
                    <a href="/employee/createrole/<%= employee.id %>" class="btn btn-primary">Add Role</a>
                    <a href="/employee/edit/<%= employee.id %>" class="btn btn-primary">Edit</a>
                    <form class="d-inline" action="/employee/delete/<%= employee.id %>" method="post">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>